body {
    background: #fefff7;
font-family: 'Zilla Slab', serif;

}
h1 {
    font-family: 'Montserrat', sans-serif;

}

h2 {
    font-family: 'Montserrat', sans-serif;
    font-size: 1.4rem;
    margin-bottom: 1em;
}

b{
    font-weight: 700;
}

p {
font-size: 1em;
line-height: 1.5;
}

#paper {
    background: url(paper.png) #eee;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    margin: 26px auto 0;
    max-width: 700px;
    min-height: 300px;
    padding: 60px;
    position: relative;
    width: 80%;
}

#paper:before,
#paper:after {
    content: "";
    height: 98%;
    position: absolute;
    width: 100%;
    z-index: -1;
}

#paper:before {
    background: url(paper.png) #eee;
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.6);
    left: -5px;
    top: 4px;
    transform: rotate(-2.5deg);
}

#paper:after {
    background: url(paper.png) #eee;
    box-shadow: 0 0 3px rgba(0, 0, 0, 0.5);
    right: -3px;
    top: 1px;
    transform: rotate(1.4deg);
}